/*
COLOR PALETTE

BLACK: #000000

WHITE: #FFFFFF
LIGHT: #FDF7F4

ORANGE: #FFD18C
DARK ORANGE: #FFA724
*/

body,
main,
html {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 30vh; */
}

.navbar-img {
  width: 230px;
  margin: 2em 0;
}
nav {
  background: #ffd18c;
  width: 100%;
  display: flex;
  justify-content: center;
}
nav ul a {
  margin-right: 1.2em;
  font-size: 1.5rem;
  color: #000;
  text-decoration: none;
}
nav ul a:hover {
  font-size: 1.6rem;
  text-decoration: underline;
  font-weight: bold;
}

.activeClass {
  text-decoration: underline;
  font-weight: 600;
}

.home-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.btn {
  border-radius: 50px;
  padding: 0.5em 2em;
  font-size: 1.2rem;
  background: #ffffff;
  color: #000;
  border: 2px #ffa724 solid;
  min-width: 200px;
  margin-right: 0.5em;
  font-weight: bold;
}
/* home body */

.pay-transfer-div {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}
.pay-transfer-div > a {
  color: black;
  text-decoration: none;
  padding: 0.5em 3em;
  border: 3px solid #ffa274;
  font-weight: bold;
  border-radius: 50px;
}
/* Just to make same size */
.pay-transfer-div a.pay-link {
  padding: 0.5em 4em;
}
.pay-transfer-div > a:hover {
  background-color: #ffd18c;
}

/* accounts-spending */
.accounts-spending-div {
  margin: 1em auto;
  width: 85%;
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
}

.accounts-div,
.spendings-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accounts-div > div {
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  font-weight: bold;
  height: 100px;
  border: 3px solid #ffa274;
  cursor: pointer;
}

.spendings-div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffd18c;
  height: 50px;
  font-weight: bold;
  border-radius: 15px;
  padding: 0 1em;
}
.spendings-div > .dynamic-width {
  width: 100%; /* Initial width for the first div */
}

.spending-div > .dynamic-width + .dynamic-width {
  width: 85%; /* Subsequent divs will have 85% width of the preceding div */
}
.selected {
  background-color: #ffd18c;
}

@media (max-width: 480px) {
}

/* //savings */

.savings-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.savings-container .accounts-div {
  width: 50%;
  margin: 1.2em auto;
}
.btn-container {
  margin: 0.5em auto;
}
.btn-container button {
  color: #000;
  padding: 1em 2.5em;
  border-radius: 5px;
  border: none;
  margin-right: 0.5em;
  cursor: pointer;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

form label {
  font-size: 1.4rem;
  margin-bottom: 0.3em;
}
form input {
  padding: 0.8em;
  /* border-radius: 1px; */
}
.adjust-funds {
  color: #050101;
  padding: 0.9em 1.2em;
  width: 20%;
  border-radius: 5px;
  border: none;
  background: #ffa274;
  margin: 0 auto;
  cursor: pointer;
}

/* payments page */
.payment-group {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 20px;
}

.payment-item {
  display: flex;
  font-size: 2rem;
  padding: 0.5em 1em;
}
.payment-item:nth-child(odd) {
  background-color: #ffa274;
}
.payment-item:nth-child(even) {
  background-color: #ffd18c;
}

.amount-div {
  margin-left: auto;
}
.amount {
  margin-right: auto;
}
